.u-center-text {
  text-align: center !important;
}

@for $i from 1 through 10 {
  .u-margin-#{$i} {
    margin: $i * 1rem !important;
  }
  .u-margin-bottom-#{$i} {
    margin-bottom: $i * 1rem !important;
  }
  .u-margin-top-#{$i} {
    margin-top: $i * 1rem !important;
  }
  .u-margin-y-#{$i} {
    margin-bottom: $i * 1rem !important;
    margin-top: $i * 1rem !important;
  }
  .u-margin-x-#{$i} {
    margin-left: $i * 1rem !important;
    margin-right: $i * 1rem !important;
  }

  @include respond(tab-port) {
    .u-margin-#{$i} {
      margin: $i * 0.5rem !important;
    }
    .u-margin-bottom-#{$i} {
      margin-bottom: $i * 0.5rem !important;
    }
    .u-margin-top-#{$i} {
      margin-top: $i * 0.5rem !important;
    }
    .u-margin-y-#{$i} {
      margin-bottom: $i * 0.5rem !important;
      margin-top: $i * 0.5rem !important;
    }
    .u-margin-x-#{$i} {
      margin-left: $i * 0.5rem !important;
      margin-right: $i * 0.5rem !important;
    }
  }
}
